@use "../../App.scss";
.header{
    background-color: App.$secondary-color;
    height: 60px;
    width: 100%;
    position: static;
    z-index: 10;
    .nav{
        justify-content: space-between;
    }
    .logo{
        width: 80px;
    }
}
