@use "../../App.scss";

.movie-container {
    flex-direction: column;
    background-color: App.$primary-color;
    .banner-blur {
        width: 100%;
        height: 500px;
        background-repeat: no-repeats;
        background-size: cover;
        background-position: center;
        filter: blur(20px);
        
    }
    .banner{
        width: 500px;
        height: 500px;
        top: 60px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        z-index: 3;
        
    }
    .movie-title {
        color: App.$main-text
    }
    .detail {
        color: App.$secondary-text;
        margin-right: 10px;
        font-size: 12px;
    }
    .overview {
        color: App.$secondary-text;
        width: 80%;
        text-align: center;
        line-height: 20px;
        font-size: 11px;
    }
    .genre {
        padding: 5px;
        border: 1px solid App.$yellow;
        border-radius: 5px;
        margin-right: 10px;
        color: App.$main-text
    }
    .tagline {
        margin-top: 15px;
        flex-direction: column;
    }
    .mini-title {
        color: App.$main-text;
        text-transform: uppercase;
        font-size: 12px;
    }
    cite {
        color: App.$secondary-text
    }
    .more {
        margin: 40px 0;
    }
    .movie-slider-wrapper {
      width: 90%;
      height: 400px;
      margin-bottom: 30px;
    }
   
}